---
import Navigation from "../components/Navigation.astro";
const pageTitle = "whoami";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <h1>{pageTitle}</h1>
    <p>
      Name's raz, I am a cybersecurity professional, specialised in Cloud Threat Detection
      Engineering.
    </p>

    <br />

    <h3>Interest areas:</h3>
    <p>Focus:</p>
    <ul>
      <li>OSINT</li>
      <li>Cloud Security</li>
      <li>Threat Detection</li>
      <li>Security Analytics</li>
    </ul>

    <br />

    <h3>Certs:</h3>
    <ul>
      <li>Practical OSINT Research Professional (PORP)</li>
      <li>ISC2 Systems Security Certified Practitioner (SSCP)</li>
    </ul>
  </body>
</html>
