---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "whoami";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Name's raz, I am a cybersecurity professional.</p>

  <br />

  <h3>Interest areas:</h3>
  <ul>
    <li>Threat Detection Engineering</li>
    <li>Security Data Engineering</li>
    <li>Cloud Security</li>
    <li>OSINT</li>
  </ul>

  <br />

  <h3>Certs:</h3>
  <ul>
    <li>Practical OSINT Research Professional (PORP)</li>
    <li>ISC2 Systems Security Certified Practitioner (SSCP)</li>
  </ul>
</BaseLayout>
