---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css'
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="./favicon.png" />
    <!--icon src https://www.flaticon.com/free-icon/cloud_2930014?term=cloud&page=1&position=8&origin=search&related_id=2930014 -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation/>
    <h1>{pageTitle}</h1>
    <slot/>
  </body>
</html>